/* Styles go here */

html {
    background-image: url("../images/home.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: cover;
}
body {
    font-family: 'Comic Sans MS', sans-serif;

    background: none;
}
.navbar-default {
    background-color: cadetblue;
    border-color: cornflowerblue;
}
section {
    margin: 50px 10px;
}
.container {
    font-size:0.9em;
    box-shadow: 0 0 10px 2px #FFF;
    padding:0px;
    border-radius: 10px;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover {
    border: 1px solid whitesmoke;
}
.nav-tabs.nav-justified>li>a {
    border-radius: 10px 10px 0px 0px;
}

.tab-content>.tab-pane {
    padding-bottom: 20px;
}

.tab-pane h7 {
    color: aliceblue;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
}
.form-group {
    color: navajowhite;
}
input.form-control {
    box-shadow: 0 0 2px white;
}
.btn-default {
    background-color: darkslateblue;
    color: #555555;
    font-weight: 500;
}
.jumbotron{
    margin-top: 80px;
    text-align: center;
    background: transparent;

}

#mainButtons{
    margin-top: 50px;
}


.tab-content {
    padding: 30px;
    background-color: dodgerblue;
    font-color : black;
    border-radius: 0 0 10px 10px;
}

.nav-tabs a {
    font-weight: bold;
    color: #255;
    background-color: ##255;
    font-size: 0.9em;
}


#change_reservation,
#Forgot_Password {
    color: lavenderblush;
}
.pagination>li>a{
    color: skyblue;
}

.pagination>li.active>a {
    color:white;
    background-color: steelblue;
}

.btn-primary{
    background-color: darkslateblue;
    border-color: mediumblue;
}

.table-striped>tbody>tr:nth-child(odd) {
    background-color: mediumblue;
}

ul.nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
}

.table-responsive {
    width:100%;
}

.btn-filler{
    background-color: transparent;
    padding:13px;
}

.btn-link{
    color:greenyellow;
}

#seating-tab .occupied-table p .btn{
    color:white;
}

#seating-tab .container {
    padding-left: 4px;
    padding-right: 4px;
    width: auto;
}

#seating-tab .occupied-table {
    width: 120px;
    height: 120px;
    background: #FFCC99;
    margin: 10px auto;
    padding-top: 20px;
}
#seating-tab .occupied-table p {
    color: white;
    margin: 4px auto;
    width: 100px;
    text-align: center;
}

.ng-modal-dialog {

    z-index:10000;
    position: absolute;
    width: 50%;


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #ffd59a;
    border-radius: 10px;
    box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
    padding:10px;
    margin: auto;
    text-align: center;
}
.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'comic sans ms', 'sans-serif';
}




@media (min-width: 512px) {
    .container {
        font-size: 1.1em;
    }
}

@media (max-width: 1024px) {
    .nav-tabs.nav-justified>li>a>span {
        display: none;
    }
}

@media (min-width: 768px) {
    .tab-content {
        padding: 50px;
    }
}

.help-block {
    color: red;
    font-weight: 500;
}

input.has-error{
    border-color: red;

    box-shadow: 0 0 5px red;
}


.ng-modal-overlay {

    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.8;
}




